<h1>Main#about</h1>
<p>Find me in app/views/main/about.html.erb</p>

<%= render 'navbar'%>
<p> Global Girl Squad is a two part podcast focused on women, created and hosted by Lorpu Kpadeh. <br>
Each Wednesday on Global Girl Squad Main, she discusses events and issues affecting women with rotating guest hosts from around the world to highlight advocacy and raise awareness. </p>