


<head><%= stylesheet_link_tag "app/assets/hosts.scss" %>
</head>

<p>Find me in app/views/main/hosts.html.erb</p>
<%= render 'navbar'%>
<body>
    <div class = "row">
<h1>Lorpu Kpadeh </h1>

<p> bio coming soon</p>

<h1>GLORIA</h1>

<p> From Kenya, Gloria is a proud feminist who is passionate about women’s empowerment. She grew up in a home where her father was physically abusive towards her mother. When she went to file charges, she was asked to engage community elders to resolve the ‘issue’. <br>
At the time, many considered domestic violence a ‘private’ problem. Furthermore, survivors were rarely encouraged to leave the abusive relationship because it was the woman’s role to ‘take care of the marriage’. Gloria did not know what feminism was, and had never really thought about how women and girls were viewed and treated by society, until she attended high school.<br>
Her English teacher was the first person that openly and frequently talked about women’s issues every chance she got. It was she who got Gloria to critically look at her society to understand why her father could get away with violence, she had to perform all the housework, and, because she was ‘too strong’, she never quite fit in with the boys. <br>
Many years later, after returning to Kenya from the US after college, she remained disturbed by the nature of conversations and attitudes about women, specifically the victim blaming, lack of sensitivity towards women’s issues/rights, and rampant misogyny. <br>
 Frustrated with the lack of advocacy opportunities to engage in meaningful discussions, Gloria is excited to join Global Girls Squad Main as a host. Through this role, she aims to share experiences, highlight issues affecting African women, and ask tough questions about society’s contribution to women’s empowerment.<br>
In her free time, she likes reading biographies and fiction, with her favorite being is Chimamanda Ngozi Adichie’s "Half A Yellow Sun". Finally, she explains how her life has never been the same since she discovered nachos almost a year ago.  - GLOBAL GIRL SQUAD HOST - AFRICA </p>

<h1>ADELE</h1>
<p>From Ireland, Adele relocated to New York in 2017 in order to challenge herself and discover new opportunities after graduating from Dublin Institute of Technology with a Bachelor of Science in Marketing.<br>
With a keen interest in film and music, she is currently working for a film production company and enjoys attending live music events and cinema screenings in her spare time.<br>
Growing up in the melting pot of Western Europe, Adele learned of the many difficulties women from various cultures face in addition to those native to the region.<br>
Adele joins the ensemble of hosts to use her voice in an effort to empathize, discuss and promote unity, making the world one that encompasses equality.</p>

<h1>JACKIE</h1>
<p> Jackie, born in Beijing, is a senior undergraduate student attending Indiana University, majoring in Public Affairs with a management focus.<br>
She believes that democracy is only as strong as the women who are engaged. Committed to gender equality and empowerment, Jackie believes female participation is essential to a stronger global economy and sustainability of communities.<br>
Her childhood in China, background in Public Affairs, and new love for audio dialogue are just a few of the assets she brings as the host representing the East Asia region. </p>

</div>
</body>