<h1>Main#landing</h1>
<p>Find me in app/views/main/landing.html.erb</p>
<head>
    
    
</head>

<body>
    
    <div class = "row">
        <div class = ".col-sm-6"><%= image_tag("the_series.png") %></div>
        <div class = ".col-sm-6"><%= image_tag("main.png") %></div>
        
        
    </div>
    
    
</body>