<h1>Home#landing</h1>
<p>Find me in app/views/home/landing.html.erb</p>
<body>
    
    
    <div class="row">
        <div class="col-md-6">
            <%= image_tag("main.png", :class => "img-responsive") %>
        </div>
        <div class="col-md-6">
            <%= image_tag("the_series.png", :class => "img-responsive") %>
       </div>
    </div>

    
    
</body>
